*.xlsx*
*.stpr
*.sublime-workspace
**/output
**/input
**/temp
**/docs
**/cleaned
**/raw
**/ind2018
**/occ2010
**/occ2018
*.xlsx
*.xls
*.csv
*.dta
**__pycache__
**.log
*.mk
*.fuse_hidden*
*.aux
*.out
*.pdf
*.gz
misc/procedures
*.aux
*.bbl
*.blg
*.out
*.html
*.toc
*.png
*~
*.mat
*.dvi
**/old
